body {
    margin: 0;
    padding: 0;
    align-content: center;
    background: url('./background.jpg') no-repeat center center fixed ;
    background-size: cover;
    display: flex;

    height: 100vh;
    overflow-x: hidden;  
}


.screen{

    width:100%

    
}

.logo {align-items: left;
    align-items: top;
margin-top:10px;
      width:100%}

.balloon {

align-items: left;
    align-items: mid;
    margin-left:3px;

    
}


