body {
  
    overflow-x: hidden;  
}

.screen{width:100%;
background-image: url('./background.jpg') no-repeat center center fixed;
      }
.top{display:inline-flex}

.logo {align-items: left;
    align-items: top;
  margin-top: 1px;
  margin-left:1px;}



