body {
    margin: 0;
    padding: 0;
    align-content: center;
    background: url('./background.jpg') no-repeat center center fixed ;
    background-size: cover;
    display: flex;

    height: 100vh;
    overflow-x: hidden;  
}


.logo {align-items: left;
    align-items: top;
margin-top:1px;
height:40vh;}


